body {
    font-family: "Lucida Console", "Courier New", monospace;
}

#grid-container {
    display: grid;   
    grid-template-rows: 100px 50px 800px;
}

#header {
    background-color: rgb(255, 36, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    color: white
}

#account {
    margin-left: 1300px;
    margin-right: 50px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(186, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
}

#account:hover, #signup:hover, #signin:hover {
    background-color: rgb(255, 47, 47);
    cursor: crosshair;
    box-shadow: 5px 5px black;
}

#signup {
    margin-right: 50px;
    background-color: rgb(186, 25, 25);
    width: 100px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
}

#signin {
    background-color: rgb(186, 25, 25);
    width: 100px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
}

#header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

#menu {
    background-color: rgb(255, 49, 49);
    display: flex;
    align-items: center;
    color: white;
}


#menu a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

#menu a {
    margin-right: 20px;
    margin-left: 20px;
}

#body {
    background-color: rgb(250, 128, 114);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(255, 36, 0);
    height: 50px;
}

#title {
    color: white;
}

a {
    cursor: crosshair
}

a:hover {
    color: #C5C6D0;
}
